:root {
  --disabled-text: #94a3b8;
  --active-text: #f1f5f9;
  --primary-gradient: linear-gradient(
    90deg,
    rgba(124, 58, 237, 1) 0%,
    rgba(79, 70, 229, 1) 100%
  );
  --secondary-gradient: linear-gradient(
    90deg,
    rgba(167, 139, 250, 1) 0%,
    rgba(34, 211, 238, 1) 100%
  );
  --text-color: #ffffff;
  --transparent-black: hsl(225, 36%, 4%, 0.8);
  --body-bg: #080a10;
  --hover-bg-color: rgb(241, 245, 249, 0.12);
}

body {
  font-family: "Cairo", sans-serif !important;
  background: #080a10;
}

.hero-section {
  text-align: center;
  padding: 20px;
  text-align: center;
  margin-bottom: 40PX;
}

.hero-title {
  font-size: 48px;
  font-weight: 800;
  margin-bottom: 20px;
  line-height: 1.4;
  direction: rtl;
}

.text-white {
  color: #ffffff;
}

.text-blue {
  background: var(--secondary-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.hero-subtitle {
  font-size: 1.25rem;
  font-weight: 400;
  color: #94a3b8;
  line-height: 1.7;
 justify-self: center;
}

.path-card {
  background: linear-gradient(145deg, #0f172a, #111827);
  border-radius: 20px;
  padding: 25px;
  color: white;
  border: 1px solid #1e293b;
  transition: 0.3s;
  height: 100%;
}

.path-card:hover {
  transform: translateY(-8px);
  border-color: #3b82f6;
}

.custom-badge {
  height: 60;
  width: 28;
  background: #1e1b4b;
  color: #a78bfa;
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 14px;
}
.icon {
  background: #1e1b4b;
  color: #a78bfa;
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 14px;
  width: 54px;
  height: 54px;
  border-radius: 12px;
  padding: 0;
  font-size: 20px;
}

.info-badge {
  background: #1f2937;
  padding: 6px 12px;
  border-radius: 15px;
  font-size: 13px;
  margin-left: 6px;
}
.start-btn {
  background: linear-gradient(90deg, #7c3aed, #4f46e5);
  border: none;
  padding: 12px;
  border-radius: 12px;
  color: white;
  font-weight: bold;
  width: 100%;
  transition: 0.3s;
}

.start-btn:hover {
  opacity: 0.9;
}
.cta-section {
  width: 100%;
  padding: 40px 20px;
  text-align: center;

  /* background  */
}
.cta-section {
  margin-top: 15px;
  width: 100%;
  padding: 40px 20px;
  text-align: center;
  background: linear-gradient(180deg, #14161f 0%, #0d0f14 100%);
}
.title {
  font-size: 38px;
  font-weight: 700;
  margin-bottom: 14px;
  color: #ffffff;
}
.sub-title {
  font-size: 16px;
  color: #8b8d96;
  font-weight: 400;
  margin-bottom: 30px;
}
.highlight {
  color: #3b82f6;
}
.btn-primary {
  display: inline-block;
  background: linear-gradient(90deg, #7c3aed, #4f46e5);
  font-weight: 700;
  text-decoration: none;
  font-size: 17px;
  padding: 12px 32px;
  border-radius: 12px;
  color: #ffffff;
}
.btn-primary:hover {
  background-color: #5e32d6;
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(114, 65, 255, 0.3);
}
